# Byte Compiled
__pycache__/

# Coverage
*.coverage

# Environment Variable
*.env

# MacOS
.DS_Store

# PyCharm
.idea/

# Serverless
.serverless/

# Virtual Environment
venv/

# Visual Studio Code
.vscode/
